/* WhoWeAre.css */

.who-we-are {
    padding: 50px;
    background-color: white;
    text-align: left;
    font-family: Arial, sans-serif;
    margin-top: -15%;
}

/* Add animation to h1 */
.who-we-are h1 {
    font-size: 4rem;
    color: black;
    margin-bottom: 20px;
    animation: slide-down-shrink 1.5s ease-in-out forwards; /* 'forwards' ensures the final state persists */
    opacity: 0; /* Initially hidden */
}

/* Keyframes for slide down and shrink effect */
@keyframes slide-down-shrink {
    0% {
        transform: translateY(-100px) scale(1.2); /* Start above with larger size */
        opacity: 0;
    }
    50% {
        transform: translateY(-20px) scale(1.1); /* Close to its final position and slightly larger */
        opacity: 0.7;
    }
    100% {
        transform: translateY(0) scale(1); /* Final position and normal size */
        opacity: 1;
    }
}

.who-we-are h1 span {
    color: #1e3a8a;
    font-weight: bold;
}

.who-we-are p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 30px;
    line-height: 1.6;
}

.who-we-are h2 {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 10px;
}

.who-we-are .arrow-icon {
    font-size: 2rem;
    color: #1e3a8a;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
}

.who-we-are .arrow-icon:hover {
    transform: translateX(10px);
}
