
body, html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  
.Introsection-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    /* gap: 40px; */
    color: black;
    width: 100%; 
    height: calc(100vh - 60px); 
   margin-top: -70px;
  }
  
 
  .Introsection-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
    
  }
  
  .Introsection-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    z-index: 2;
  }
  
  
  .Introsection-button {
    background-color:#1e3a8a ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .Introsection-button:hover {
    background-color: navy;
  }
  
  
  .Introsection-img {
    flex: 1;
    max-width: 100%;
  }
  
  .Introsection-img img {
    width: 70%; 
    height: auto; 
    border-radius: 10px;
    max-height: 100%; 
    margin-left: -160px;
  }
  
  

  @media (max-width: 1024px) {
    .Introsection-container {
      flex-direction: column; 
      align-items: flex-start; 
      gap: 20px; 
      padding: 30px; 
    }
  
    .Introsection-text {
      max-width: 100%; 
      text-align: center; 
    }
  
    .Introsection-text h1 {
      font-size: 2.5rem; 
    }
  
    .Introsection-text p {
      font-size: 0.9rem; 
    }
  
    .Introsection-button {
      margin: 20px auto 0; 
    }
  
    .Introsection-img {
      max-width: 100%; 
    }
  }
  
  @media (max-width: 768px) {
    .Introsection-container {
      padding: 20px; 
    }
  
    .Introsection-text h1 {
      font-size: 2rem; 
    }
  
    .Introsection-text p {
      font-size: 0.8rem; 
    }
  
    .Introsection-button {
      padding: 8px 16px; 
      font-size: 0.9rem; 
    }
  }
  
  @media (max-width: 480px) {
    .Introsection-container {
      padding: 15px; 
    }
  
    .Introsection-text h1 {
      font-size: 1.8rem; 
    }
  
    .Introsection-text p {
      font-size: 0.8rem; 
    }
  
    .Introsection-button {
      padding: 6px 12px; 
      font-size: 0.8rem; 
    }
  
    .Introsection-img img {
      border-radius: 5px;
    }
  }
  